@*@model IEnumerable<PomMVC.Models.Transaction>*@
@model PagedList.IPagedList<PomMVC.Models.Transaction>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transactions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Transactions", FormMethod.Get))
{
    <p>
        Find by User: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search"/>
    </p>
}
<table class="table">
    <tr>
        <th>
            Page
        </th>
        <th>
            Project
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.User.Email)*@
            @Html.ActionLink("User", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Version
        </th>
        <th>
            Transaction Type
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TransDate)*@
            @Html.ActionLink("Transaction Date", "Index", new { sortOrder = ViewBag.DateSortParm , currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Transaction Place
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Page.PageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vers.VersNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransFunEle)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransID })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))