@model IEnumerable<PomMVC.Models.Ver>

@{
    ViewBag.Title = "Versions";
}

<h2>Versions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VerNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VerNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VerID })
        </td>
    </tr>
}

</table>
